# Data Science Tools and Ecosystem

## Author:
Veronica Torrens

In this notebook, Data Science Tools and Ecosystems are sumarized

**Objectives:**
- List some of the popular languages that Data Scientists use
- List of the commonly used libraries used by Data Scientists
- Show examples of building tables 
- Show some of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot2
3. NumPy
4. Matplotlib

| Data Science Tools |
|:------------------- |
| RStudio            |
| TensorFlow         |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
print("Hours in 200 minutes:")
200/60

Hours in 200 minutes:

3.3333333333333335